body {
    background-color: #000000;
    cursor: url('catpaw.png'), auto;
}

html {
    cursor: url('catpaw.png'), auto;
}

h1 {
    color: lightcoral;
    font-family: Xisfani;
    padding: 0;
    margin: 0;
    background-color: #0b1826;
}

span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    font-family: Xisfani, serif;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: bold;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    color: transparent;
    -webkit-background-clip: text;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

h2 {
    position: absolute;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: Xisfani;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;
    transform: translate(-50%, -50%);
    top: 28%;
    left: 50%;
}

p {
    color: olivedrab;
    font-family: peach_cake;
}

@font-face {
    font-family: peach_cake;
    src: url('peach_cake.otf');
}

@font-face {
    font-family: Xisfani;
    src: url('Xisfani.ttf');
}
